// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-black-40: rgba(0, 0, 0, 0.3);
$color-bokara-grey:#141211;
$color-hint-of-red: #f4f3f2;
$color-cloudy: #aea29a;
$color-swiss-coffee: #d7cfcb;
$color-moon-mist: #c8c8b6;
$color-bokara-grey-40: rgba(20, 18, 17, 0.4);
$color-green-white: #EAE9E9;
$color-gainsboro: #DEDED2;
$color-platinum: #EAE2DE;
$color-finch: #62664A;
$color-cascade: #92A7A6;
$color-crocodile: #727254;
$color-stone: #A6A687;
$color-lava-red: #E80E0A;

// Typography
$ff-mulish: "Mulish", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;
